@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(238 238 238 / 49%);
    font-family: "Signika";
    margin: 0%;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    background-color: rgb(205 191 0);
}

strong {
    color: rgb(151, 0, 0);
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d6d6d6;
    box-shadow: 0px 3px 12px 0px #b7b7b7;

    width: 100%;
    margin-bottom: 100px;
    height: 300px;
}

#logo {
    margin-right: 140px;
    margin-bottom: 15px;
    padding: 50px;
}





.pesquisa {
    display: flex;

    background-color: #c9c9c9;
    box-shadow: 0px 0px 12px #cecece;
    border-radius: 3px;

    margin-right: 160px;
    width: 500px;
    padding: 5px;
}

#input-pesquisa {
    width: 100%;

    border-radius: 3px;
    border: none;

    font-family: "Montserrat";
    font-size: 15px;
    background-color: transparent;


    background-image: url(assets/bx-search.svg);
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 10px 20px 12px 40px
}





#menu {
    display: flex;
    position: absolute;
    margin-top: 240px;

    font-family: "Signika";
    font-size: 18px;
}

.promo{
    margin-right: 60px;
}

#li-promo {
    text-decoration: none;
    color: #252525;
    transition: 0.5s;
}

#li-promo:hover {
    color: rgb(148, 128, 18);
}

.hidden-promo {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 110%;

    background-color: #c2c2c2;
    text-align: center;

    font-size: 18px;
    border-radius: 3px;


    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.promo:hover .hidden-promo {
    opacity: 2;
    pointer-events: auto;
}



.acessorios{
    margin-right: 60px;
}

#li-acessorios {
    text-decoration: none;
    color: #252525;
    transition: 0.5s;
}

#li-acessorios:hover{
    color: rgb(148, 128, 18);
}

.hidden-acessorios{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 110%;

    background-color: #c2c2c2;
    text-align: center;

    font-size: 18px;
    border-radius: 3px;


    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.acessorios:hover .hidden-acessorios{
    opacity: 2;
    pointer-events: auto;
}



.moletom{
    margin-right: 60px;
}

#li-moletom{
    text-decoration: none;
    color: #252525;
    transition: 0.5s;
}

#li-moletom:hover{
    color: rgb(148, 128, 18);
}

.hidden-moletom{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 110%;

    background-color: #c2c2c2;
    text-align: center;

    font-size: 18px;
    border-radius: 3px;


    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.moletom:hover .hidden-moletom{
    opacity: 2;
    pointer-events: auto;
}



.bc{
    margin-right: 60px;
}

#li-bc{
    text-decoration: none;
    color: #252525;
    transition: 0.5s;
}

#li-bc:hover{
    color: rgb(148, 128, 18);
}

.hidden-bc{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 110%;

    background-color: #c2c2c2;
    text-align: center;

    font-size: 18px;
    border-radius: 3px;


    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.bc:hover .hidden-bc{
    opacity: 2;
    pointer-events: auto;
}



#li-camisetas{
    text-decoration: none;
    color: #252525;
    transition: 0.5s;
}

#li-camisetas:hover{
    color: rgb(148, 128, 18);
}

.hidden-camisetas{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 110%;

    background-color: #c2c2c2;
    text-align: center;

    font-size: 18px;
    border-radius: 3px;


    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.camisetas:hover .hidden-camisetas{
    opacity: 2;
    pointer-events: auto;
}





#a-link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 90px;
}

.icons {
    transition: all 0.4s;
}

.icons:hover {
    transform: translateY(-3px);
}

.icons:not(:last-child) {
    margin-right: 20px;
}





.layout {
    display: flex;
    padding: 30px;
}

.blusas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 5px;
    margin-right: 20px;

    width: 300px;
    height: 450px;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 3px;
}

.descri {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 18px;
}

.dynamic {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    margin: 5px;
    margin-top: 15px;

    background-color: rgb(205 191 0);

    height: 25px;
    width: 100%;
}

button {
    display: flex;
    justify-content: center;

    border-radius: 3px;
    padding: 8px;
    font-size: 15px;
    width: 120px;
    border: 0px;
    margin-top: 30px;

    background-color: rgb(17 17 17);
    box-shadow: 0px 0px 12px #9090907a;
    color: white;
    font-family: "Montserrat";

    transition: 1s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(56, 56, 56);
    transform: scale(1.05);
}





footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(17 17 17);
    color: white;
    font-family: "Montserrat";

    width: 100%;
    margin-top: 100px;
    border-radius: 3px;
}

.info {
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
}





.slider {
    margin: 0 auto;
    width: 900px;
    height: 300px;

    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 0px 0px 12px #909090b3;
}

.slides {
    width: 900%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 100%;
}

.manual-navigation {
    display: flex;
    justify-content: center;
    position: absolute;

    width: 900px;
    margin-top: 7px;
}

.manual-btn {
    background-color: rgb(180, 180, 180);
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    transform: scale(1.5);
    background-color: rgb(178, 143, 45);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

#promocoes:hover {
    color: red;
}